body {
    background: white
}

section {
    background: rgb(206,206,255);
    background: radial-gradient(circle, rgba(206,206,255,1) 42%, rgba(143,246,255,1) 89%);
}

.vapor {
    background: rgb(58,132,180);
background: linear-gradient(90deg, rgba(58,132,180,1) 0%, rgba(216,236,235,1) 50%);
}

.moody {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(138,20,167,1) 86%);
}

.arthub {
    background: rgb(191,40,102);
    background: linear-gradient(90deg, rgba(191,40,102,1) 0%, rgba(255,255,255,1) 100%);
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }

    header {
      background: #772014;
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    header {
      background: #8ac4ff;
    }
  }
  